.flag {
  width: 500px;
  height: 250px;
  background-color: green;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  width: 130px;
  height: 130px;
  background-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
