* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: auto;
  max-width: 1920px;
  padding: 0 20px;
}
.card {
  background-color: #ffffff;

  border: 1px solid black;
}

.card img {
  width: 370px;
  height: 240px;
}

/* .container img {
  width: 100px;
  height: 100px;
} */

/* .card-outer-img {
  width: 100px;
  height: 100px;
} */
