* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 100%;
  height: auto;
  max-width: 1920px;
  padding: 100px 20px;

  background-color: #f8f8f8;

  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  width: 370px;
  /*height: 240px;
  */
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  box-shadow: 0px 10px 29px rgba(0, 30, 48, 0.05);
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
}

/* .container img {
  width: 100px;
  height: 100px;
} */

/* .card-outer-img {
  width: 100px;
  height: 100px;
} */

.card-info {
  padding: 20px 20px 7px 20px;
}

.card-info h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #1a93d2;
  padding-bottom: 10px;
}

.card-info h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #414e5c;
  padding-bottom: 18px;
}
.contact-info {
  padding-bottom: 11px;
  display: flex;
  align-items: center;
}
.contact-info i {
  color: #e5057f;
  font-size: 21px;
  vertical-align: middle;
  margin-right: 10px;
}

.contact-info a {
  position: relative;
  color: #1a93d2;
  z-index: 1;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

.contact-info a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: #1a93d2;
  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  -ms-transition: 0.3s all ease-out;
  -o-transition: 0.3s all ease-out;
  z-index: -1;
}

.contact-info a:hover {
  color: white;
}

.contact-info a:hover::after {
  height: 100%;
}
